[package]
name = "bevy_tui_texture"
version = "0.1.0"
edition = "2024"

[features]
default = ["keyboard_input", "mouse_input"]
keyboard_input = []
mouse_input = []

[profile.release]
opt-level = 3 # 3: all optimizations - 0: no optimizations
lto = "fat"
codegen-units = 1
panic = "abort"

[dependencies]
bevy = "0.17.3"
rand = "0.9.2"
rand_chacha = "0.9.0"

# ratatui-wgpu dependencies
ratatui = "0.29.0"
wgpu = "26.0.1"
rustybuzz = "0.20.0"
raqote = { version = "0.8.5", default-features = false }
tiny-skia = "0.11"
bytemuck = { version = "1.23.2", features = ["derive"] }
bitvec = { version = "1.0.1", default-features = false, features = ["std"] }
indexmap = { version = "2.11.0", default-features = false, features = ["std"] }
evictor = { version = "0.5.1", default-features = false }
unicode-properties = "0.1.3"
unicode-width = "0.2.0"
web-time = "1.1.0"
log = { version = "0.4.22", default-features = false }
thiserror = "2.0.16"

[dev-dependencies]
winit = "0.30.12"
env_logger = "0.11"
futures-lite = "2.5"
anyhow = "1.0"
tokio = { version = "1.42", features = ["rt", "macros"] }
pollster = "0.3"

[[example]]
name = "widget_catalog_2d"
path = "examples/widget_catalog_2d.rs"
[[example]]
name = "widget_catalog_3d"
path = "examples/widget_catalog_3d.rs"
[[example]]
name = "multiple_terminals"
path = "examples/multiple_terminals.rs"
[[example]]
name = "helloworld"
path = "examples/helloworld.rs"
[[example]]
name = "benchmark"
path = "examples/benchmark.rs"
